<div id="footer">
	<div class="footer-links">
		<div>
			<span>
				友情链接
				-
				<button id="regenerateButton" class="randomLinks">刷新</button>
			</span>
			<div id="randomLinks"></div>
			<script src="/js/randomlinks.js"></script>
		</div>
		<div>
			<span class="a-links">
				<span>
					其他链接
				</span>
				<a href="//blog.awaae001.top/about" target="_blank">关于我</a>
				---
				<a href="//blog.awaae001.top/atom.xml" target="_blank">Rss订阅</a>
				---
				<a href="https://blog.awaae001.top/posts/57663.html" target="_blank">隐私协议</a>
			</span>
		</div>
	</div>
	<p>
		©&nbsp;<span id="footerYear-start"><%- theme.siteStartYear %></span>-<span id="footerYear-end"></span>
		<% if (config.website){ %>
			<a href='<%- config.website %>' target="_blank"><%- config.author %></a>
			<% } else { %>
				<a href="/"><%- config.author %></a>
				<% } %>
					<br>
					Theme <a href="//github.com/awaae001/hexo-theme-BTtree" target="_blank">BTTree</a>
					by <a href="//awaae001.top" target="_blank">awaae001</a>
					Powered by <a href="//hexo.io" target="_blank">Hexo</a>

					<!-- 新添加的链接 -->
					<br>
					<a href="https://icp.gov.moe/?keyword=20234005" target="_blank">萌ICP备20234005号</a>
					<a href="https://beian.miit.cn.com/gov/search.php?domain=blog.awaae001.top"
						title="MIIT备00008635号">MIIT-00008635号</a>
					<a href="https://guan.ma/hao/2024000055/" title="官码2024000055号"><img
							src="https://style.wmou.com/images/guanma.png" alt="官码" width="12">官码2024000055号</a>

					<br>

					<span>
						本站由
						<a href="https://www.lightxi.com/">
							晞云
						</a>
						提供全局加速服务
					</span>
					<br>

					<span>
						本站总访问量 :<span id="busuanzi_site_pv"></span> 次
						本站总访客数 :<span id="busuanzi_site_uv"></span> 人
					</span>

					<br>
					<a title="呓语梦轩" href="https://boringbay.com"><img height="18px"
							src="https://boringbay.com/api/badge/blog.awaae001.top"></img></a>

					<br>
					<img src="https://img.shields.io/badge/Frame-Hexo-blue?logo=Hexo&label=框架">
					<img
						src="https://img.shields.io/badge/CDN%E5%8A%A0%E9%80%9F-%E6%99%9E%E4%BA%91-%2392daff?logo=icloud&logoColor=%2392daff">
					<img
						src="https://img.shields.io/badge/Github-awaae001-%238db90b?style=flat&logo=github&logoColor=%23181717&link=https%3A%2F%2Fgithub.com%2Fawaae001">
					<img
						src="https://img.shields.io/badge/%E7%BC%96%E8%BE%91%E5%99%A8-VScode-%23007ACC?style=flat&logo=visualstudiocode&logoColor=%23007ACC&color=%23007ACC">
					<img
						src="https://img.shields.io/badge/build-tree-brightgreen?style=flat&logo=hexo&label=%E4%B8%BB%E9%A2%98&labelColor=%23595959&color=%232b6964">
					<img
						src="https://img.shields.io/badge/%E5%89%8D%E7%AB%AF%E6%A1%86%E6%9E%B6-VanillaJS-%23f3d890?logo=javascript&logoColor=%23f3d890g">

					<br>

					<div>
						<button class="blog-links" onclick="Showlinks()">
							展示\关闭-博客园塔
						</button>
						<div id="blogLinks">
							<!-- 博客园塔 -->
							<a href="https://blogverse.cn" target="_blank" rel="noopener noreferrer"
								title="中文博客圈列表">博客圈列表</a>
							<br /># -> 随机跳转页面
							<div class="bokequan">
								<a href="https://firewood.news" target="_blank" rel="noopener noreferrer"
									title="积薪-致敬那些还在写博客的人">积薪</a>
								|
								<a href="https://chuanliu.org" target="_blank" rel="noopener noreferrer"
									title="川流，取川之意，流水之情">川流</a>
								|
								<a href="https://www.boyouquan.com/planet-shuttle" target="_blank"
									rel="noopener noreferrer" title="博友圈-博客人的朋友圈">博友圈</a>
								<a href="https://www.boyouquan.com/planet-shuttle" target="_blank"
									rel="noopener noreferrer" title="星球穿梭-博友圈">#</a>
								<br />
								<a href="http://www.jetli.com.cn" target="_blank" rel="noopener noreferrer"
									title="博客志-优秀个人独立博客导航">博客志</a>
								|
								<a href="https://bokequan.cn" target="_blank" rel="noopener noreferrer"
									title="致力于个人独立博客，按地区分类，由段先森维护">博客圈</a>
								<a href="https://bokequan.cn/?suiji" target="_blank" rel="noopener noreferrer"
									title="穿梭-致力于个人独立博客博客园">#</a>
								|
								<a href="https://www.travellings.cn" target="_blank" rel="noopener noreferrer"
									title="让传统友链“活跃”，让网页相互接力，让流量相互流动，让网络开放起来">开往</a>
								<a href="https://www.travellings.cn/go.html" target="_blank" rel="noopener noreferrer"
									title="开往-友链接力">#</a>
								<br />
								<a href="https://blogwe.com" target="_blank" rel="noopener noreferrer"
									title="致敬还在写博客的我们！">BlogWe</a>
								|
								<a href="https://zhblogs.ohyee.cc" target="_blank" rel="noopener noreferrer"
									title="尝试链接几乎所有的中文博客">中文博客列表导航</a>
								<a href="https://zhblogs.ohyee.cc/go" target="_blank" rel="noopener noreferrer"
									title="随机跳转-尝试链接几乎所有的中文博客">#</a>
								<br />
								<a href="https://blogscn.fun" target="_blank" rel="noopener noreferrer"
									title="致敬还在写博客的我们">笔墨迹</a>
								<a href="https://blogscn.fun/random.html" target="_blank" rel="noopener noreferrer"
									title="笔墨迹-虫洞">#</a>
								|
								<a href="https://storeweb.cn" target="_blank" rel="noopener noreferrer"
									title="一个精致的，带社交元素的个人网站发布平台，博客收录网站">个站商店</a>
								<a href="https://storeweb.cn/s/2070" target="_blank" rel="noopener noreferrer"
									title="个站商店-虫洞">#</a>
								|
								<a href="https://www.wlxxq.com" target="_blank" rel="noopener noreferrer"
									title="未来信息-希望在未来还能遇见你博客的信息">未来信息</a>
								<br />
								<a href="https://boke.lu" target="_blank" rel="noopener noreferrer"
									title="boke.lu · 博客收录展示平台~">博客录</a>
								<a href="https://bokelu.suijiboke.gs" target="_blank" rel="noopener noreferrer"
									title="随机浏览博客录收录的所有博客">#</a>
								|
								<a href="https://travel.moe" target="_blank" rel="noopener noreferrer"
									title="我们一起去萌站成员de星球旅行吧 ！">异次元之旅</a>
								<a href="https://travel.moe/go.html?travel=on" target="_blank" rel="noopener noreferrer"
									title="跃迁-我们一起去萌站成员de星球旅行吧 ！">#</a>
								|
								<a href="https://www.foreverblog.cn" target="_blank" rel="noopener noreferrer"
									title="一个人的寂寞，一群人的狂欢。">十年之约</a>
								<a href="https://www.foreverblog.cn/go.html" target="_blank" rel="noopener noreferrer"
									title="穿梭虫洞-随机访问十年之约友链博客">#</a>
								<br />
								<a href="https://ourblo.gs" target="_blank" rel="noopener noreferrer"
									title="在茫茫比特流之中，能遇见你，真是幸运！">OurBlogs</a>
								|
								<a href="https://github.com/timqian/chinese-independent-blogs" target="_blank"
									rel="noopener noreferrer" title="中文独立博客列表">中文独立博客列表</a>
								|
								<a href="https://bf.zzxworld.com" target="_blank" rel="noopener noreferrer"
									title="BlogFinder-发现优秀的个人博客">BlogFinder</a>
								<br />
							</div>
						</div>

					</div>
	</p>

	<!-- 一段用于在页底显示运行时间的代码 by:awaae001 -->
	<% if (theme.custom.enableRuntimeCard) { %>
		<div id="runtime-card" style="background-color: #60281e; color: #fff; text-align: center; padding: 10px;">
			<%- theme.custom.siteword %>：
				</br>
				<span id="uptime">加载中...</span>
		</div>
		<% } %>

			<script type="text/javascript">
				const TIME_CONST = 365 * 24 * 60 * 60 * 1000;
				const TIME_START = new Date("<%- theme.custom.siteStartDate %>");

				function update_website_uptime_banner() {
					var website_uptime_banner = document.getElementById("uptime");
					var timestamp_now = new Date(); // 当前时间
					var time = timestamp_now.getTime() - TIME_START.getTime();
					var years = time / TIME_CONST;
					var int_years = parseInt(years);
					var days = time / (24 * 60 * 60 * 1000); // 计算有多少天
					var int_days = parseInt(days); // 计算有多少完整的天
					var hours = (days - int_days) * 24; // 计算除去完整的天 剩下不完整的天有多少 ×24得到有多少个小时
					var int_hours = parseInt(hours); // 计算完整的小时
					var mins = (hours - int_hours) * 60; // 计算除去完整的天,小时 剩下不完整的小时 x60得到有多少分钟
					var int_mins = parseInt(mins); // 计算完整的分钟
					var sec = (mins - int_mins) * 60; // 计算除去完整的天,小时,分钟 剩下不完整的分钟 x60得到有多少秒
					var int_sec = parseInt(sec); // 计算完整的秒
					//var msec = (sec - int_sec) * 1000; 计算除去完整的天,小时,分钟,秒 剩下不完整的秒 x1000得到有多少毫秒
					//var int_msec = parseInt(msec); 计算完整的毫秒

					website_uptime_banner.innerHTML =
						int_days +
						" 日 " +
						String(int_hours) +
						" 小时 " +
						String(int_mins) +
						" 分 " +
						String(int_sec) +
						" 秒 " +
						"(共：" +
						int_years +
						" 年)";
				}

				update_website_uptime_banner();
				setInterval(update_website_uptime_banner, 1000);
			</script>


			<% if (theme.siteStartYear==undefined) { %>
				<script type="text/javascript">
					document.getElementById('footerYear-start').innerHTML = new Date().getFullYear() + '';
				</script>
				<% } %>
					<script type="text/javascript">
						document.getElementById('footerYear-end').innerHTML = new Date().getFullYear() + '';
					</script>

					<% if (config.mermaid && config.mermaid.enable) { %>
						<script
							src='https://unpkg.com/mermaid@<%= config.mermaid.version %>/dist/mermaid.min.js'></script>
						<script>
							if (window.mermaid) {
								mermaid.initialize({ theme: 'forest' });
							}
						</script>
						<% } %>