<div id="footer">
	<div class="footer-links">
		<div>
			<span>
				友情链接-随机
			</span>
			<div id="randomLinks"></div>
			<script src="//blog.awaae001.top/js/randomlinks.js"></script>
		</div>
		<div>
			<span class="a-links">
				<span>
					其他链接
				</span>
				<a href="//blog.awaae001.top/about" target="_blank">关于我</a>
				---
				<a href="//blog.awaae001.top/atom.xml" target="_blank">Rss订阅</a>
				---
				<a href="https://blog.awaae001.top/posts/57663.html" target="_blank">隐私协议</a>
			</span>
		</div>
	</div>
	<p>
		©<span id="footerYear-start"><%- theme.siteStartYear %></span>-<span id="footerYear-end"></span>
		<% if (config.website){ %>
			<a href='<%- config.website %>' target="_blank"><%- config.author %></a>
			<% } else { %>
				<a href="/"><%- config.author %></a>
				<% } %>
					<br>
					Theme <a href="//github.com/awaae001/hexo-theme-BTtree" target="_blank">BTTree</a>
					by <a href="//awaae001.top" target="_blank">awaae001</a>
					Powered by <a href="//hexo.io" target="_blank">Hexo</a>

					<!-- 新添加的链接 -->
					<br>
					<a href="https://icp.gov.moe/?keyword=20234005" target="_blank">萌ICP备20234005号</a>

					<br>
					<span>
						本站总访问量 :<span id="busuanzi_site_pv"></span> 次
						本站总访客数 :<span id="busuanzi_site_uv"></span> 人
					</span>

					<br>
					<img src="https://img.shields.io/badge/Frame-Hexo-blue?logo=Hexo&label=框架">
					<img
						src="https://img.shields.io/badge/CDN加速-cloudflare-%234f4f4f?style=flat&logo=cloudflare&color=%23f6821f">
					<img
						src="https://img.shields.io/badge/Github-awaae001-%238db90b?style=flat&logo=github&logoColor=%23181717&link=https%3A%2F%2Fgithub.com%2Fawaae001">
					<img
						src="https://img.shields.io/badge/%E7%BC%96%E8%BE%91%E5%99%A8-VScode-%23007ACC?style=flat&logo=visualstudiocode&logoColor=%23007ACC&color=%23007ACC">
					<img
						src="https://img.shields.io/badge/build-tree-brightgreen?style=flat&logo=hexo&label=%E4%B8%BB%E9%A2%98&labelColor=%23595959&color=%232b6964">

	</p>

	<!-- 一段用于在页底显示运行时间的代码 by:awaae001 -->
	<% if (theme.custom.enableRuntimeCard) { %>
		<div id="runtime-card" style="background-color: #60281e; color: #fff; text-align: center; padding: 10px;">
			<%- theme.custom.siteword %>：
				<span id="uptime">加载中...</span>
		</div>
		<% } %>

			<% if (theme.siteStartYear==undefined) { %>
				<script type="text/javascript">
					document.getElementById('footerYear-start').innerHTML = new Date().getFullYear() + '';
				</script>
				<% } %>
					<script type="text/javascript">
						document.getElementById('footerYear-end').innerHTML = new Date().getFullYear() + '';
					</script>

					<script>
						// 计算并更新网站运行时间的函数
						function updateUptime() {
							var startDate = new Date("<%- theme.custom.siteStartDate %>"); // 使用自定义参数作为启动日期
							var currentDate = new Date();
							var uptimeMilliseconds = currentDate - startDate;

							var years = Math.floor(uptimeMilliseconds / (1000 * 60 * 60 * 24 * 365.25));
							uptimeMilliseconds -= years * 1000 * 60 * 60 * 24 * 365.25;

							var months = Math.floor(uptimeMilliseconds / (1000 * 60 * 60 * 24 * 30.44));
							uptimeMilliseconds -= months * 1000 * 60 * 60 * 24 * 30.44;

							var days = Math.floor(uptimeMilliseconds / (1000 * 60 * 60 * 24));
							uptimeMilliseconds -= days * 1000 * 60 * 60 * 24;

							var hours = Math.floor(uptimeMilliseconds / (1000 * 60 * 60));
							uptimeMilliseconds -= hours * 1000 * 60 * 60;

							var minutes = Math.floor(uptimeMilliseconds / (1000 * 60));
							uptimeMilliseconds -= minutes * 1000 * 60;

							var seconds = Math.floor(uptimeMilliseconds / 1000);

							var uptimeText = years + "年 " + months + "月 " + days + "天 " + hours + "小时 " + minutes + "分钟 " + seconds + "秒";
							document.getElementById("uptime").textContent = uptimeText;
						}

						// 初始加载时计算运行时间
						updateUptime();

						// 定时更新运行时间（每秒）
						setInterval(updateUptime, 1000);
					</script>

					<% if (config.mermaid && config.mermaid.enable) { %>
						<script
							src='https://unpkg.com/mermaid@<%= config.mermaid.version %>/dist/mermaid.min.js'></script>
						<script>
							if (window.mermaid) {
								mermaid.initialize({ theme: 'forest' });
							}
						</script>
						<% } %>