<!--
               * _oo0oo_
              * o8888888o * 
              88"  .  "88 
              * (| -_- |) * 
                 0\ = /0 
            * ___/`---'\___ *
              .' \\| |// '. 
          * / \\||| : |||// \ *
          / _||||| -:- |||||- \ 
          * | | \\\ - /// | | * 
          | \_| ''\---/'' |_/ |
         * \ .-\__ '-' ___/-. / *
        ___'. .' /--.--\ `. .'___ 
   * ."" '< `.___\_<|>_/___.' >' "". * 
    | | : `- \`.;`\ _ /`;.`/ - ` : | |
    * \ \ `_. \_ __\ /__ _/ .-` / / * =====`
     -.____`.___ \_____/___.-`___.-
             '===== * `=---=' 
                  * * * 
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
       佛祖保佑 永不宕机 永无BUG  
	   服务器不卡，图床不崩，CDN正常

       大慈大悲
-->

<!DOCTYPE html>
<html lang="zh">

<!-- 欢迎使用hexo_BT-tree[变态树] 
    
░█▀▀▄░█░░░█░█▀▀▄░█▀▀▄░█▀▀░░░░▒█▀▀▄░▀▀█▀▀░█▀▀▄░█▀▀░█▀▀
░█▄▄█░▀▄█▄▀░█▄▄█░█▄▄█░█▀▀░▀▀░▒█▀▀▄░░▒█░░░█▄▄▀░█▀▀░█▀▀
░▀░░▀░░▀░▀░░▀░░▀░▀░░▀░▀▀▀░░░░▒█▄▄█░░▒█░░░▀░▀▀░▀▀▀░▀▀▀

-->
<%- partial('_partial/head') %>

    <body>
        <%- partial('_partial/header.ejs') %>
        <%- partial('_partial/sidebar.ejs') %>

                <!-- 引入正文 -->
                <div id="content" class="content">
                    <%- body %>
                </div>
                <%- partial('_partial/footer.ejs') %>
                    <%- partial('_partial/totop') %>
    </body>

</html>
<!-- 
       　  　▃▆█▇▄▖
　 　 　 ▟◤▖　　　◥█▎
   　 ◢◤　 ▐　　　 　▐▉
　 ▗◤　　　▂　▗▖　　▕█▎
　◤　▗▅▖◥▄　▀◣　　█▊
▐　▕▎◥▖◣◤　　　　◢██
█◣　◥▅█▀　　　　▐██◤
▐█▙▂　　     　◢██◤
◥██◣　　　　◢▄◤
 　　▀██▅▇▀


哲学♂ 114514 
 -->